<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>

<!-- if State is true - displaying empty file error -->

{{if .State}}
<p>no such file or empty selection</p>
{{end}}

<h1>Your Pictures:</h1>

<!-- ranging over Data.Pics -->
{{range .Pics}}
<img src="/public/pics/{{.}}" width="400px">
{{end}}

<form method="post" enctype="multipart/form-data">
    <input type="file" name="nf">
    <input type="submit">
</form>

</body>
</html>
